.new-waste {
    margin-top: -20px;
}

.label {
    color: white;
    font-weight: bold;
}

.pr-medium, .u-week {
    background: #f0ad4e;
}

.pr-low, .u-month {
    background: #337ab7;
}

.pr-high, .u-tomorrow {
    background: rgba(201, 48, 44, 1);
}

.wastes th a {
    text-decoration: none;
}

.wastes tbody tr {
    cursor: pointer;
}

.wastes tbody tr.selected {
    background: #f5f5f5;
    font-weight: bold;
}

.delete-waste {
    font-size: 1em;
}

.navi li:hover, .navi li.active {
    border-bottom: 2px solid #333;
}

.navi a, .nave a:hover {
    color: inherit;
    text-decoration: none;
}

.money {
    text-align: right;
}

textarea {
    resize: none;
}

.status-filter a {
    color: inherit;
    text-decoration: none;
}

.status-filter li.active {
    border-bottom: 1px solid #333;
}