.new-waste {
    margin-top: -20px;
}

.pr-medium, .u-week {
    background: rgba(138, 109, 59, 0.3);
}

.pr-low, .u-month {
    background: rgba(49, 112, 143, 0.3);
}

.pr-high, .u-tomorrow {
    background: rgba(169, 68, 66, 0.3);
}

.edit-waste {
    position: absolute;
    left: -20px;
    top: 10px;
    display: none;
    width: 100px;
}

.wastes tr:hover .edit-waste {
    display: block;
}

.wastes th a {
    text-decoration: none;
}