.new-waste {
    margin-top: -20px;
}

.label {
    color: white;
    font-weight: bold;
}

.pr-medium, .u-week {
    background: #f0ad4e;
}

.pr-low, .u-month {
    background: #337ab7;
}

.pr-high, .u-tomorrow {
    background: rgba(201, 48, 44, 1);
}

.wastes th a {
    text-decoration: none;
}